:root{
--color-primary: hsl(50, 55%, 85%);
--color-accent-primary: hsl(45, 80%, 60%);
--color-accent-secondary: hsl(40, 90%, 30%);
--color-selected: hsl(50, 55%, 70%);
}
body{
background:url(background.jpg) ;
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
margin: 0px;
font-family: "Roboto Flex", serif;
}
header{
background-color:var(--color-primary);
height: 8vh;
width: 100vw;
position: absolute;
top: 0;
}
.button{
height: 8vh;
width: 10vw;
vertical-align: middle;
text-align: center;
align-items: center;
line-height: 8vh;
}
.flex-box{
display: flex;
top: 0px;
width:30vw;
left:35vw;
position:absolute;
justify-content: space-between;
}
.switch{
position:absolute;
display: flex;
justify-content: center; 
width: 6vw;
height: 4vh;
left: 75vw;
top: 2vh;
}
.switchSection{
width: 3vw;
height: 4vh;
text-align: center;
vertical-align: middle;
line-height: 4vh;
transition: 1s;
}
.FooterFlex{
	display: flex;
	position: absolute;
	bottom: -800px;
	width: 100vw;
	height: 15vh;
	justify-content: center;
	background-color: var(--color-accent-secondary);
}
.FooterCard{
	position: relative;
	width: 15vw;
	height: 75%;
}
.CardHead{
	color: var(--color-primary);
}
.CardDescription{
	color: var(--color-accent-primary);
}
.Text-block{
	background-color: var(--color-primary);
	width: 60vw;
	height: 400px;
	position: relative;
	padding-left: 20vw;
	padding-right: 20vw;
	font-size: 1.2em;
	padding-top: 3vh;
}
.text-head{
font-size: 2.3em;
font-weight: bold;
}
